@page "/"

<h1>Hello, @user.Name!</h1>

<div class="card-body">
	<EditForm Model="@user" OnValidSubmit="@HandleValidSubmit">
		<DataAnnotationsValidator />
		<ValidationSummary />
		<div class="form-group">
			<label>
				Name:
				<InputText class="form-control" id="nameInput" @bind-Value="user.Name" /> 
			</label>
		</div>
		<div>
			<label>
				Are you ready?
				<InputCheckbox @bind-Value="user.IsReady" />
        </label>
		</div>
		<div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</EditForm>
</div>

@code {
	private UserModel user = new UserModel { Name = "Dima" };

	public void HandleValidSubmit()
	{
		user = new UserModel { Name = "New User"};
	}
}
